a {
    color: #00e;
    text-decoration: none;
}
a:visited {
    color: #00e;
}

html {
    background-color: #213554;
}
body {
    width:90%;
    margin-left: 5%;
    min-width: 725px;
}
div#header {
    margin-top: 3em;
    position: relative;
    background-color: #ffa940;
    border-radius: 10px 10px 0 0;
}
div#header div.vspacer {
    height: 115px;
}
div#header hr {
    margin-bottom: 0;
}
a#logo {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #03436a;
    font-size: 362%;
}
a#logo i {
    font-size: 138%;
}
div#slogan {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #f8f8f8;
    font-family: serif;
    font-weight: bold;
    font-size: 162%;
    text-shadow: 0px 0px 8px #888;
}
ul#headerTabs {
    position: absolute;
    top: 60px;
    right: 30px;
    margin: 0;
}
ul#headerTabs li {
    list-style: none;
    float: left;
    margin-left: 1em;
    font-size: 162%;
    background-color: #777;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 10px;
}
ul#headerTabs li.selected {
    background-color: #ff7700;
}
ul#headerTabs li a {
    color: #ccc;
    text-shadow: 0 0 5px #333;
}
ul#headerTabs li.selected a {
    color: #fff;
}
div#content {
    background-color: #fff;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
}
div#footer {
    margin-bottom: 3em;
    text-align: center;
    background-color: #D09043;
    color: #213554;
    border-radius: 0 0 10px 10px;
}
div#footer hr {
    margin-top: 0;
}

div.clearFloats {
    clear: both;
}
