<%inherit file="blog.html.tmpl" />
<%! import makofw %>
<% 
  assert self.uri.endswith('.html.tmpl'), 'Unexpected Extension: %r'%(self.uri,)
  date,mdFilename,meta,title,image = self.postInfo(self.uri[len(self.FS_ROOT()+'/blog/'):-5]+'.md')
%>
<h1 class=postTitle>${title}</h1>
<div class=postMeta>Published <span class=postDate>${date}</span>,&nbsp; by <span class=postAuthor>${meta['author']}</span></div>
<img class="postMainImg roundBorder" src="${image}" />
${next.body()}
