<%inherit file="photos.html.tmpl" />
<%! import os, pyhpy %>
<div id=bigPhotoArea>
  <a id=prev class=navLink href="${self.URL('/photos/%s.html'%(self.PREV_PHOTO(),), mtime=None)}"><i class="fa fa-arrow-left"></i>&nbsp;Previous</a>
  <a id=next class=navLink href="${self.URL('/photos/%s.html'%(self.NEXT_PHOTO(),), mtime=None)}">Next&nbsp;<i class="fa fa-arrow-right"></i></a>
  <%
    photoPath = os.path.join(self.photosDir(), self.THIS_PHOTO()) + '.jpeg'  # We chopped off the extension in THIS_PHOTO(), so we need to add it back on.
    meta = pyhpy.meta(photoPath)
  %>
  <div id=textStuff>
    <p class=description>${meta['description']}</p>
    <p class=location>${meta['location']}</p>
  </div>
  <img id=bigPhoto src="${self.URL('/static/photoalbum/%s.jpeg'%(self.THIS_PHOTO(),))}">
</div>

## These get overridden by inheriting templates:
<%def name='THIS_PHOTO()'><% return None %></%def>
<%def name='PREV_PHOTO()'><% return None %></%def>
<%def name='NEXT_PHOTO()'><% return None %></%def>

