Options -Indexes

RewriteEngine on

RewriteCond %{HTTP_HOST} ^nomake.org$
RewriteRule (.*) http://www.nomake.org/$1 [R,L]


RewriteCond %{HTTP_HOST} ^www.nomake.org$
RewriteCond %{REQUEST_URI} !^/prod
RewriteRule (.*) /prod/$1 [L]


RewriteCond %{HTTP_HOST} ^dev.nomake.org$
RewriteCond %{REQUEST_URI} !^/dev
RewriteRule (.*) /dev/$1 [L]

