
<%inherit file="../photos.html.tmpl" />
<%def name='THIS_PHOTO()'><% return "bird_on_bike" %></%def>
<%def name='PREV_PHOTO()'><% return "az_panorama" %></%def>
<%def name='NEXT_PHOTO()'><% return "asu_vangogh" %></%def>
        