
<%inherit file="../photos.html.tmpl" />
<%def name='THIS_PHOTO()'><% return "dragonfly" %></%def>
<%def name='PREV_PHOTO()'><% return "coffee_eye" %></%def>
<%def name='NEXT_PHOTO()'><% return "missing_bike" %></%def>
        