## Lines like this one that begin with '##' are Mako comments.
##
## This is the master template.  You probably don't want to use this directly.
## Instead, you should probably inherit from it by using
## <%inherit file="/master.tmpl"/> in another template.  You can then override
## whatever you want by using '<def>' sections.
##
## Here is the Mako website and docs: http://www.makotemplates.org/
##
## HTML 5:
<!DOCTYPE html>
<html lang=en>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <title>${self.TITLE()}</title>
    <link rel="stylesheet" type="text/css" href="${self.URL('/static/lib/yui_3.3.0/reset_base_fonts_grids-min.css')}">
    <link rel="stylesheet" type="text/css" href="${self.URL('/static/css/master.css', timestamp='auto')}">
    ${self.PAGE_CSS()}
    <script type="text/javascript" src="/static/lib/jquery_1.4.4/jquery.js"></script>
    <script type="text/javascript">
      ## Prevent the use of '$' because it is cryptic,
      ## and is easily confused with Mako template stuff.
      ## Use 'jQuery' instead.
      jQuery.noConflict();
    </script>
    %if self.debugPage():
      <script type="text/javascript" src="/static/lib/firebug/build/firebug-lite.js"></script>
    %endif
    <script type="text/javascript" src="/static/js/master.js"></script>
    ${self.PAGE_JS()}
  </head>
  <body>
    <div id=header>
      <a id=logo href="${self.URL('/')}">MakoFW Album</a>
      <div id=slogan>A Simple Example to Get You Started.</div>
      <ul id=headerTabs>
        <li class=${'selected' if next.uri.endswith('/index.html.tmpl') else 'unselected'}><a href="${self.URL('/')}"}>Home</a></li>
        <li class=${'selected' if next.uri.endswith('/photos.html.tmpl') else 'unselected'}><a href="${self.URL('/photos.html')}"}>Photos</a></li>
      </ul>
      <div class=vspacer></div>
      <hr>
    </div>
    ## Render the inheriting template:
    ${next.body()}
    <div id=footer>
      <hr>
      ©2012 Baidu 使用百度前必读 京ICP证030173号
    </div>
  </body>
</html>

## These are Mako 'def' sections.  They override values in the resulting templates.
## You can override these def's in templates that inherit from this one.
<%def name='TITLE()'>MakoFW Example</%def>
<%def name='PAGE_CSS()'></%def>
<%def name='PAGE_JS()'></%def>
<%def name='debugPage()'><% return False %></%def>


## Some extremely basic utilities.  Feel free to improve them as needed:
<%def name='URL(path, timestamp=None)'><%
    assert path[0] == '/'
    mount_point = ''  # <-------- Override this if necessary.
    url = mount_point + path

    if timestamp == 'auto':
        src_dir = os.path.dirname(globals()['_template_filename'])
        fs_path = os.path.join(src_dir, path[1:])
        if not os.path.exists(fs_path):
            # Could not find the referenced file.  Is it a template?
            fs_path = os.path.join(src_dir, path[1:]+'.tmpl')
        if not os.path.exists(fs_path): raise ValueError('Unable to find fs_path for url: %r'%(path,))
        timestamp = os.path.getmtime(fs_path)
    if timestamp != None:
        if '?' not in url: url += '?'
        else: url += '&'
        url += 'timestamp=%s'%(timestamp,)

    return url
%></%def>
<%! import os %>
