<%inherit file="_master.tmpl" />
<%! import os %>
<%
  photos_fs_dir = os.path.join(os.path.dirname(globals()['_template_filename']), 'static', 'photoalbum')
  orig_photos = [x[:-5] for x in os.listdir(photos_fs_dir) if x.endswith('.jpeg')  and  '_THUMB' not in x]
%>
<div id=bigPhotoArea>
  <a id=prev href="${self.URL('/photos/%s.html'%(self.PREV_PHOTO(),))}">&lt;&nbsp;Previous</a>
  <a id=next href="${self.URL('/photos/%s.html'%(self.NEXT_PHOTO(),))}">Next&nbsp;&gt;</a>
  <img id=bigPhoto src="${self.URL('/static/photoalbum/%s.jpeg'%(self.THIS_PHOTO(),))}">
</div>

<ul>
%for p in orig_photos:
  <li class=thumbnail><a href="${self.URL('/photos/%s.html'%(p,))}"><img src="${self.URL('/static/photoalbum/%s_THUMB.jpeg'%(p,))}"></a></li>
%endfor
</ul>
<div class=clearFloats></div>

<%block name='PAGE_CSS'>
  <link rel="stylesheet" type="text/css" href="${self.URL('/static/css/photos.css')}">
</%block>

## These get overridden by inheriting templates:
<%def name='THIS_PHOTO()'><% return None %></%def>
<%def name='PREV_PHOTO()'><% return None %></%def>
<%def name='NEXT_PHOTO()'><% return None %></%def>

