<%inherit file="_master.html.tmpl" />

<h1>Welcome to my MakoFW-Powered Photo Album!</h1>

<p>This is a basic example that shows how to create a small website with the MakoFW static website framework.</p>

<p>I chose to create a photo album because it is simple to understand and simple to implement, and yet useful at the same time.  Note that you shouldn't take this photo album too seriously -- it is primarily meant to be a good MakoFW example.  There are many other photo albums on the market that are much better than this one.  In particular, <a href="http://www.phpalbum.net/">phpAlbum</a> is nice.</p>

<p>I chose to keep this site as simple as possible, so you will note that there are two important things missing:  Javascript, and lots of Internet Explorer hacks.  Normally, you would want to use these things for a production website, but I did not want to make this example any more complex than it needed to be, so everything you see is just Mako-generated HTML and CSS, and written only for modern, standards-compliant browsers.</p>

<p>Also note that the included photos have been pre-sized, and the thumbnails have been pre-generated.  It would be easy to do all this stuff from the Mako templates themselves with something like PIL or ImageMagik, but I did not do this because I did not want MakoFW to require extra dependencies.</p>

<h3><a href="${self.URL('/photos.html')}">Click here to see the photos.</a></h3>

<%def name='PAGE_CSS()'>
  <link rel="stylesheet" type="text/css" href="${self.URL('/static/css/home.css')}">
</%def>
