<%inherit file="_master.html.tmpl" />

<h1>Welcome to my MakoFW-Powered Photo Album!</h1>

<p>This is a basic example that shows how to create a small website with the MakoFW static website framework.</p>

<h3><a href="${self.URL('/photos.html')}">Click here to see the photos.</a></h3>

