div#bigPhotoArea {
    display: none;
    position: relative;
}
a#prev {
    display: block;
    position: absolute;
    top:-20px;
    left:30px;
    font-weight: bold;
}
a#next {
    display: block;
    position: absolute;
    top: -20px;
    right: 30px;
    font-weight: bold;
}
img#bigPhoto {
    border-radius: 10px;
    margin-left: 3em;
}
li.thumbnail {
    float: left;
    list-style: none;
    width: 150px;
    height: 150px;
}
li.thumbnail img {
    border: 1px solid #888;
    border-radius: 5px;
}
div.clearFloats {
    clear: both;
}
