/* Google Fonts is so good! */
/* http://wordmark.it/ is also good for viewing fonts that are on your system. */
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'), url(Patua_One.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

h1.pretty {
    font-family: 'Patua One';
    font-weight: normal;
}

a {
    color: #00e;
    text-decoration: none;
}
a:visited {
    color: #00e;
}

body {
    width: 850px;
    margin: auto;
}
div#header {
    margin-top: 3em;
    position: relative;
}
div#header div.vspacer {
    height: 155px;
}
div#header hr {
    margin-bottom: 0;
}
a#logo {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 362%;
}
a#logo img {
    margin-bottom: -23px;
}
a#logo div.asciiLogo {
    color: #000;
    font-family: monospace;
    font-size: 6px;
    font-weight: 900;
    white-space: pre;
    margin-top: -35px;
    margin-left: -15px;
    display: inline-block;
    vertical-align: middle;
}
a#logo div.name {
    position: absolute;
    top: -10px;
    left: 90px;
    color: #a3312d;
    font-family: 'Patua One';
    font-weight: normal;
    font-size: 72px;
}
a#logo div.name span.y {
    font-size: 56px;
}
div#slogan {
    position: absolute;
    top: 110px;
    left: 100px;;
    color: #999;
    font-family: 'Patua One';
    font-size: 162%;
}
ul#headerTabs {
    position: absolute;
    top: 85px;
    right: 30px;
    margin: 0;
}
ul#headerTabs li {
    list-style: none;
    float: left;
    margin-left: 0.5em;
    font-size: 162%;
    background-color: #777;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 10px;
}
ul#headerTabs li.selected {
    background-color: #ff7700;
}
ul#headerTabs li a {
    color: #ccc;
    text-shadow: 0 0 5px #333;
}
ul#headerTabs li.selected a {
    color: #fff;
}
div#content {
    background-color: #fff;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
}
div#footer {
    margin-bottom: 3em;
    text-align: center;
    background-color: #D09043;
    color: #213554;
    border-radius: 0 0 10px 10px;
}
div#footer hr {
    margin-top: 0;
}

div.clearFloats {
    clear: both;
}
