<%
  app = self.APP()
  ver = self.VERSION()
%>
<h1>${app['name']} v${ver['version']}</h1>

<p><a href="">Download ${ver['filename']}</a> (md5:${ver['hash_md5']},  sha1:${ver['hash_sha1']})</p>

<%inherit file="_master_ui.tmpl"/>
