<h1>App List:</h1>
<p>These apps are available for download:</p>
<ul>
  %for app in self.listApps():
    <li><a href="${app['appDir']}.html">${app['name']}</a></li>
  %endfor
</ul>
<%inherit file="_master_ui.tmpl"/>
