<br> === Header === <br>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/apps/">App List</a></li>
    <li><a href="/about.html">About</a></li>
</ul>
${next.body()}
<br> === Footer === <br>

<%inherit file="_master_core.tmpl"/>
