## Lines like this one that begin with '##' are Mako comments.
##
## This is the master template.  You probably don't want to use this directly.
## Instead, you should probably inherit from it by using
## <%inherit file="/master.tmpl"/> in another template.  You can then override
## whatever you want by using '<def>' sections.
##
## Here is the Mako website and docs: http://www.makotemplates.org/
##
## HTML 5:
<!DOCTYPE html>
<html lang=en>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <title>${self.TITLE()}</title>
    <link rel="stylesheet" type="text/css" href="/cache_001/lib/yui/reset_base_fonts_grids-min.css">
    <link rel="stylesheet" type="text/css" href="/cache_001/lib/posabsolute-validation/css/validationEngine.jquery.css">
    <link rel="stylesheet" type="text/css" href="/cache_001/css/master.css">
    ${self.PAGE_CSS()}
    <script type="text/javascript" src="/cache_001/lib/jquery/jquery.js"></script>
    <script type="text/javascript">
      jQuery.noConflict();  // Prevent the use of '$' because it is cryptic,
                            // and is easily confused with Mako template stuff.
                            // Use 'jQuery' instead.
    </script>
    <script type="text/javascript" src="/cache_001/lib/posabsolute-validation/js/jquery.validationEngine-en.js"></script>
    <script type="text/javascript" src="/cache_001/lib/posabsolute-validation/js/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="/cache_001/lib/ajaxify/jquery.ajaxify-0.4.js"></script>
    <script type="text/javascript" src="/cache_001/lib/jquery-backgroundPosition/jquery.backgroundPosition.js"></script>
    <script type="text/javascript" src="/cache_001/lib/jquery-mousewheel/jquery.mousewheel_chris.js"></script>
    %if self.debugPage():
        <script type="text/javascript" src="/cache_001/lib/firebug/build/firebug-lite.js"></script>
    %endif
    <script type="text/javascript" src="/cache_001/js/master.js"></script>
    ${self.PAGE_JS()}
  </head>
  <body>
    ${next.body()}
  </body>
</html>
<%def name='TITLE()'>nomake.org</%def>
<%def name='PAGE_CSS()'></%def>
<%def name='PAGE_JS()'></%def>
<%def name='useChromeFrame()'><% return False %></%def>
<%def name='debugPage()'><% return False %></%def>
