<h1>About nomake.org:</h1>
<p>Linux software installation is way more difficult than it needs to be.  The purpose of nomake.org is to provide self-conatined, standalone tar packages of popular Linux apps that are easy to extract and run.  The packages contain all dependencies and will run on any Linux distribution.</p>
<p>The packages on nomake.org are designed to be useful for people who need to use a Linux computer without root access -- for example, if you have a shared web hosting account with SSH access (but no package manager), or if you need to work on a corporate Linux network, where application installation is often extremely difficult or against IT policy.  These packages allow you to simply download, un-tar, and run... without ANY build process, root access, or package manager.</p>
<p>Since *all* dependencies are included in our packages, they tend to be large.  But these days, your time is much more valuable than your disk space.  Many people prefer to just "download and run" instead of trying to figure out how to build a package from source.</p>

<%inherit file="./_master_ui.tmpl"/>
