<h1>Install Precompiled Linux Applications Without a Package Manager</h1>
<p>Type the App Name: <input type=text></p>
<p>Easily install apps into your home directory, without root access.  Great for shared web hosting and corporate networks.</p>
<img src="/cache/img/prototype/demovid.gif">

<%inherit file="_master_ui.tmpl"/>
<%def name='TITLE()'>nomake.org - Linux App Packages: just untar and run!</%def>

