Hi there.
<%
    blah='BLAH'
%>

${blah}

:)
DEV VERSION

<img src="/cache_03/test.gif">

<img src="http://dummyimage.com/600x400/000/fff&text=blah">


<%inherit file="_master.tmpl"/>
<%def name='TITLE()'>Home :)</%def>

