<p>Thank you for your vote!</p>

<p>Please note that the vote counts are NOT realtime.  A site admin will review the votes and add your vote to the list within a day or two (or three).</p>

<%inherit file="_master_ui.tmpl"/>
<%def name='TITLE()'>Thank You for Your Vote - nomake.org</%def>

