html {
    background-color: #ffc073;
}
body {
    width:90%;
    margin-left: 5%;
    min-width: 500px;
}
div#header {
    margin-top: 3em;
    position: relative;
    background-color: #ffa940;
    border-radius: 10px 10px 0 0;
}
div#header div.vspacer {
    height: 115px;
}
div#header hr {
    margin-bottom: 0;
}
a#logo {
    display: block;
    position: absolute;
    top: 57px;
    left: 30px;
    color: #333;
    font-size: 262%;
}
div#slogan {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    font-family: serif;
    font-weight: bold;
    font-size: 162%;
}
ul#headerTabs {
    position: absolute;
    top: 60px;
    right: 30px;
    margin: 0;
}
ul#headerTabs li {
    list-style: none;
    float: left;
    margin-left: 1em;
    font-size: 162%;
    background-color: #bf7f30;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 10px;
}
ul#headerTabs li.selected {
    background-color: #ff8c00;
}
ul#headerTabs li a {
    color: #ccc;
}
ul#headerTabs li.selected a {
    color: #333;
}
div#content {
    background-color: #fff;
    padding-top: 3em;
    padding-bottom: 3em;
}
div#footer {
    text-align: center;
    background-color: #a65b00;
    color: #ccc;
    border-radius: 0 0 10px 10px;
}
div#footer hr {
    margin-top: 0;
}
