<div id=masterContainer>
    <div id=header>
        <a href="/"><img id=logo src="http://dummyimage.com/243x150/000/fff&text=nomake.org" alt="nomake.org"></a>
        <div id=slogan>Making Linux software installation easier since 2011.</div>
        <ul id=headerTabs>
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/apps/">App List</a></li>
        </ul>
    </div>
    ${next.body()}
    <div id=footer>
    <p id=legalNotice>Copyright 2011, Christopher Sebastian. This service comes with no warranty, and should be considered unfit for any purpose that could possibly result in damage. Use at your own risk!</p>
    </div>
</div>

<%inherit file="_master_core.tmpl"/>
